:root {
  background-image: url(./juego1.jpeg);
  background-size: cover;
  height: 100vh;
  animation: movimiento 10s infinite linear alternate;

}
@keyframes movimiento {
  from{
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.frontimg{
  width: 150px;
  height: 150px;
  border-radius: 15ch;
}
.container{
  display: grid;
  grid-template-rows:auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  height: 15%;
  width: 15%;
  position: relative;
  left: 500px;
  bottom: 100px;
  perspective: 1000px;
  cursor: pointer;
  grid-gap: 2ch;
}
  
.boton{
  position: relative; 
  top: 250px;
}
.instrucciones{
  padding:20px 40px;
  cursor:pointer;
  background-color: transparent;
  font-family: 'Inspiration', cursive;
  border-radius: 10px;
  font-size: 3ch;
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
}
.instrucciones:hover{
	background-color:#e1e7ed;
}
.musica { 
  position: relative;
  width: 200px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 50px;
  transform: scale(1.05);  
  color: darkblue !important;
}
.toggleCard {
  transform: rotateY(180deg);
}

