:root {
  background-image: url(./juego1.jpeg);
  background-size: cover;
  height: 100vh;
  animation: movimiento 10s infinite linear alternate;
  font-family: fantasy;
}
@keyframes movimiento {
  from{
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.frontimg{
  width: 150px;
  height: 150px;
  border-radius: 15ch;
}
.container{
  display: grid;
  grid-template-rows:auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  height: 15%;
  width: 15%;
  position: relative;
  left: 500px;
  bottom: 180px;
  perspective: 1000px;
  cursor: pointer;
  grid-gap: 2ch;
}
  
.boton{
  position: relative; 
  top: 250px;
}
.instrucciones{
  padding:20px 35px;
  cursor:pointer;
  font-family: fantasy;
  border-radius: 10px;
  font-size: 2ch;
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
}
.instrucciones:hover{
	background-color:#e1e7ed;
}
.musica { 
  position: relative;
  width: 200px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 50px;
  transform: scale(1.05);  
  color: darkblue !important;
}
.popup {
  width: 50%;
  height: 160%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
  top: calc(40% - 50px);
  left: calc(25% - 30px);
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  border: none;
  font-family: fantasy;
  z-index: 2;
}
.modal::backdrop{
  background: rgba(220, 211, 211, 0.6);
}
.boton2{
  font-family: fantasy;
}
