@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html{
  background-image: url(./up.jpeg);
  background-size: cover;
  height: 100vh;
  animation: movimiento 10s infinite linear alternate;
  color:rgb(71, 75, 75);
  margin:0px;
  font-family: 'Indie Flower', cursive;
}
@keyframes movimiento {
  from{
    background-position: bottom;
  }
  to {
    background-position: top ;
  }
}
body{
  display: flex;
}
.gif {
  width: 500px;
  height: 500px;
  size: 1ch;
  border: 0px;
}
.frontimg{
  width: 150px;
  height: 150px;
  border-radius: 15ch;
}
.container{
  display: grid;
  grid-template-rows:auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  height: 15%;
  width: 15%;
  position: absolute;
  left: 500px;
  top: 100px;
  perspective: 1000px;
  cursor: pointer;
  grid-gap: 2ch;
}
  
.boton{
  position: relative; 
  top: 250px;
}
.instrucciones{
  padding:20px 35px;
  cursor:pointer;
  font-family: 'Indie Flower', cursive;
  border-radius: 10px;
  font-size: 3ch;
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
  margin-left: 20px;
}
.instrucciones:hover{
	background-color:#e1e7ed;
}
.musica { 
  position: relative;
  width: 150px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 50px;
  transform: scale(1.05);  
  color: darkblue !important;
}
.popup {
  width: 100%;
  height: 240%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
  top: calc(40% - 50px);
  left: calc(25% - 30px);
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  border: none;
  font-family: 'Indie Flower', cursive;
  z-index: 2;
}
.modal::backdrop{
  background: rgba(220, 211, 211, 0.6);
}
.boton2{
  font-family: fantasy;
}
.intentos {
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.881);
  font-size: 4ch;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
 
  box-decoration-break: clone;
}
.popup2 {
  width: 50%;
  height: 160%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
  top: calc(40% - 50px);
  left: calc(25% - 30px);
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  border: none;
  font-family: 'Indie Flower', cursive;
  z-index: 2;
}
#you-win{
  display: none;
  display: none;
  position: relative;
  left:800px;
  top:20px;
  z-index: 2;

}
#you-lose{
  display: none;
  position: fixed;
  left:500px;
  top:70px;
  z-index: 2;
  border-radius: 20px;
}
.buttonReplay{
  padding:20px 35px;
  cursor:pointer;
  font-family: 'Indie Flower', cursive;
  border-radius: 10px;
  font-size: 3ch;
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
  margin-left: 20px;
  position: center;
}
